.nav {
  display: flex;
}

.link {
  margin-right: 10px;
  transition: color 0.3s ease;
  font-size: large;
  font-weight: 600;
  color: rgb(238, 172, 125);
}

.link:hover,
.link:focus {
  color: rgb(252, 116, 5);
}
